.character-row td {
  border-bottom: 1px solid white;
}
  
table {
  margin-top: 20px;
  border-collapse: collapse;
}

.controls {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.controls div {
  cursor: pointer;
}